
.container{
    width: 50%;
    background-color: antiquewhite;
    margin: auto;
    font-size: 20px;
    padding: 1rem;
}
.container p{
    font-size: 1em;
    line-height: 2rem;
}
.btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
}